#first{
  border-radius: 1.5px;
  border-color: rgb(196, 143, 175);
  border-style: solid;
  border-width: 2px;
  text-align:center;
  width:100 px;
  height:220px;
  background-color:rgb(167, 29, 167);
  color: aliceblue;
  font-family: 'newFont2';
  font-size: small;
  padding:top=20px,bottom=20px,left=10px,right=10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
#first1{
  border-radius: 1.5px;
  border-color: rgb(196, 143, 175);
  border-style: solid;
  border-width: 2px;
  text-align:center;
  width:100 px;
  height:380px;
  background-color:rgb(167, 29, 167);
  color: aliceblue;
  font-family: 'newFont2';
  font-size: small;
  padding:top=20px,bottom=20px,left=10px,right=10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
#main{
  display:grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  background-color: rgb(8, 8, 8);
  border-top-style:solid;
  border-top-width:1.5px ;
  border-top-color: black;
  height: 460px;
}
#main1{
  display:grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  background-color: rgb(8, 8, 8);
  border-top-style:solid;
  border-top-width:1.5px ;
  border-top-color: black;
  height: 760px;
}
#top{
  background-color: rgb(241, 25, 241);
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'newFont1';
  font-size: xx-large;
  color:rgb(1, 18, 32);

}
#general{
  display:grid;
  grid-template-rows: 20% 80%;
}
@font-face {
  font-family: 'newFont1';
  src: url('C:\WINDOWS\Fonts\Crazy Robot.ttf');
}
@font-face {
  font-family: 'newFont2';
  src: url('C:\WINDOWS\Fonts\dDicapslock.ttf');
}
@keyframes theDisplayer {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
.map-h2 {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 20px;
  padding-left: 10px;
  text-align: center;
}

.google-map {
  width: 100%;
  height: 60vh;
}

.pin {
  display: flex;
  align-items: center;
  width: 180px;
  color: var(--main-blue);
}

.pin-icon {
  font-size: 4rem;
}

.pin-text {
  font-size: 1.3em;
}

@media screen and (min-width: 799px) {
  .google-map {
    height: 80vh;
  }

  .map-h2 {
    font-size: 1.3rem;
    font-weight: 400;
  }

  .pin {
    width: 15vw;
  }

  .pin-icon {
    font-size: 10vw;
  }
}